.recipe-list {
    text-align: center;
    margin: 20px;
  }
  
  .recipe-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .recipe-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  